{% extends "::base.html.twig" %}

{% block page_title %}{{ secondFactorConfig.getInitiateTitle() }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupSelfServiceSelfServiceBundle:Registration/partial:progressBar.html.twig' with {'progress': 25, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ secondFactorConfig.getExplanation() }}</p>

    <hr>

    {% if authenticationFailed is defined %}
        <div class="alert alert-danger">{{ secondFactorConfig.getAuthnFailed() }}</div>
    {% endif %}
    {% if proofOfPossessionFailed is defined %}
        <div class="alert alert-danger">{{ secondFactorConfig.getPopFailed() }}</div>
    {% endif %}
    {{ form(form) }}

{% endblock %}
