{% extends "::base.html.twig" %}

{% block page_title %}{{ ('ss.registration.gssf.initiate.' ~ provider ~ '.title.page')|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupSelfServiceSelfServiceBundle:Registration/partial:progressBar.html.twig' with {'progress': 25, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>
        <ul><!-- TODO translate using translations.twig and messages.LANG.xliff -->
        <li>
            Download de tiqr app op je smartphone:
            <ul><li><a href="http://itunes.apple.com/us/app/tiqr/id430838214?mt=8&ls=1">iOS</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=org.tiqr.authenticator&hl=nl">Android</a></li></ul>
        </li>
        <li>
            Sta push notificaties van de tiqr app toe zodat het inloggen in het vervolg makkelijker wordt.
        </li>
        <li>
            Klik vervolgens op ‘{{ ('ss.registration.gssf.initiate.' ~ provider ~ '.button.initiate')|trans }}’ om verder te gaan.
        </li>
        </ul>
    Na het registreren van je tiqr account keer je hier terug.
    </p>

    <!-- p>{{ ('ss.registration.gssf.initiate.' ~ provider ~ '.text.explanation')|trans }}</p -->

    <hr>

    <form action="{{ path('ss_registration_gssf_authenticate', {'provider': provider}) }}" method="post">
        {% if authenticationFailed is defined %}
            <div class="alert alert-danger">{{ ('ss.registration.gssf.initiate.' ~ provider ~ '.error.authn_failed')|trans }}</div>
        {% endif %}
        {% if proofOfPossessionFailed is defined %}
            <div class="alert alert-danger">{{ ('ss.registration.gssf.initiate.' ~ provider ~ '.error.proof_of_possession_failed')|trans }}</div>
        {% endif %}

        <button type="submit" class="btn btn-primary">{{ ('ss.registration.gssf.initiate.' ~ provider ~ '.button.initiate')|trans }}</button>
    </form>

{% endblock %}
