{% extends "base.html.twig" %}

{% block page_title %}{{ secondFactorConfig.getInitiateTitle() }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% if verifyEmail %}
        {% include 'SurfnetStepupSelfServiceSelfServiceBundle:registration/partial:progress_bar.html.twig' with {'progress': 25, 'step': 2, verifyEmail: true} only %}
    {% else %}
        {% include 'SurfnetStepupSelfServiceSelfServiceBundle:registration/partial:progress_bar.html.twig' with {'progress': 35, 'step': 2, verifyEmail: false} only %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ secondFactorConfig.getExplanation() }}</p>

    <hr>

    {% if authenticationFailed == true %}
        <div class="alert alert-danger">{{ secondFactorConfig.getAuthnFailed() }}</div>
    {% endif %}
    {% if proofOfPossessionFailed == true %}
        <div class="alert alert-danger">{{ secondFactorConfig.getPopFailed() }}</div>
    {% endif %}
    {{ form(form) }}

{% endblock %}
