
{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block anchor_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <a href="{{ path(route) }}" {{ block('button_attributes') }}>
            {% if icon is not empty %}
                {{ mopa_bootstrap_icon(icon, icon_inverted|default(false)) }}
            {% endif %}
            {{ label|trans({}, translation_domain) }}</a>
    {% endspaceless %}
{% endblock anchor_widget %}

{% block anchor_row %}
    {% spaceless %}
        {% if button_offset is defined and button_offset is not empty %}
            {% set attr = attr|merge({'for': id, 'class': button_offset }) %}
            <div class="form-group">
                <div {% for attrname, attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ form_widget(form) }}
            </div>
            </div>
        {% else %}
            <div>
                {{ form_widget(form) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock anchor_row %}


{# Show value in the remote vetting attribute match. #}
{% block ss_remote_vet_assertion_widget %}
    {% spaceless %}
        <table class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ 'ss.second_factor.remote_vet.local_attribute'|trans }}</th>
                <th>{{ 'ss.second_factor.remote_vet.remote_attribute'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>{{ 'ss.second_factor.remote_vet.attribute_name'|trans }}</strong></td>
                    <td>{{ form.vars.data.localAttribute.name }}</td>
                    <td>{{ form.vars.data.remoteAttribute.name }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'ss.second_factor.remote_vet.attribute_value'|trans }}</strong></td>
                    <td>{{ form.vars.data.localAttribute.value|join(',<br/>') }}</td>
                    <td>{{ form.vars.data.remoteAttribute.value|join(',<br/>') }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'ss.second_factor.remote_vet.is_attribute_valid'|trans }}</strong></td>
                    <td colspan="2">
                        {{ form_widget(form.valid) }}
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'ss.second_factor.remote_vet.remarks'|trans }}</strong></td>
                    <td colspan="2">
                        {{ form_widget(form.remarks) }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endspaceless %}
{% endblock %}
