{% if selfAssertedTokenRegistration %}
    <hr>
    <h2>{{ 'ss.recovery_token_list.title'|trans }}</h2>

    {% if recoveryTokens is not empty %}

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'ss.recovery_token_list.header.type'|trans }}</th>
                        <th scope="col">{{ 'ss.recovery_token_list.header.recovery_token_identifier'|trans }}</th>
                        <th scope="col">{# Action button #}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recoveryToken in recoveryTokens %}
                        <tr>
                            <td>{{ recoveryToken.type|trans }}</td>
                            <td>{% if recoveryToken.type == 'sms' %}{{ recoveryToken.identifier }}{% endif %}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <a class="btn btn-mini btn-warning"
                                       href="{{ path('ss_recovery_token_delete', {'recoveryTokenId': recoveryToken.recoveryTokenId}) }}">
                                        {{ 'ss.second_factor.revoke.button.revoke'|trans }}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    {% else %}
        <p>{{ 'ss.second_factor.list.text.no_recovery_tokens'|trans }}</p>
    {% endif %}

    {% if hasRemainingRecoveryTokens %}
    <p>
        <a href="{{ path('ss_recovery_token_display_types') }}"
           class="btn btn-primary pull-right">
            {{ 'ss.second_factor.list.button.register_recovery_token'|trans }}
        </a>
    </p>
    {% endif %}
    <p>&nbsp;</p>
    <p>&nbsp;</p>

{% endif %}
