<div class="col-xs-12 col-md-4">
    <div class="thumbnail second-factor-selector">
        <img src="{{ secondFactor.logo }}"
             alt="{{ secondFactor.getAlt() }}">
        <h3>{{ secondFactor.getTitle() }}</h3>
        <p class="ranking">
            {% for i in 1 .. security %}
            <i class="fa fa-lock fa-lg text-warning"></i>
            {% endfor %}
            {% for i in security+1 .. 4 %}
            <i class="fa fa-unlock-alt fa-lg text-extra-muted"></i>
            {% endfor %}
        </p>
        <hr>
        <p>
            {{
                (secondFactor.getDescription())|replace(
                {
                    '%android_link_start%': '<a href="'~appAndroidUrl~'">',
                    '%android_link_end%': '</a>',
                    '%ios_link_start%': '<a href="'~appIosUrl~'">',
                    '%ios_link_end%': '</a>',
                }
                )|raw
            }}
        </p>
        <p>
            <form method="post" enctype="text/plain" accept-charset="UTF-8" action="{{ url }}">
                <button type="submit" class="btn btn-primary">
                    {{ secondFactor.getButtonUse() }}
                </button>
            </form>
        </p>
    </div>
</div>
