<p>{{ 'ss.registration.registration_email_sent.text.thank_you_for_registration'|trans }}</p>

<p>{{ 'ss.registration.registration_email_sent.text.activation_instructions'|trans }}</p>

<ul>
    <li>{{ 'ss.registration.registration_email_sent.text.activation_instructions_item_1'|trans }}</li>
    <li>{{ 'ss.registration.registration_email_sent.text.activation_instructions_item_2'|trans }}</li>
    <li>{{ 'ss.registration.registration_email_sent.text.activation_instructions_item_3'|trans }}</li>
</ul>

<br />

<p>
    {{ 'ss.registration.registration_email_sent.label.expiration_date'
        |trans({'%expirationDate%': expirationDate|localizeddate('full', 'none', locale)}) }}
</p>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <table class="table table-bordered table-hover table-responsive">
            <tbody>
            <tr>
                <th scope="row">{{ 'ss.registration.registration_email_sent.label.registration_code'|trans }}</th>
                <td>{{ registrationCode }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br />

<p>{{ 'ss.registration.registration_email_sent.text.registration_code_has_been_sent'|trans({'%email%': email}) }}</p>

<div class="registration-print-options">
    {% if not verifyEmail %}
        <p>{{ 'ss.registration.registration_email_sent.text.registration_code_has_been_sent_no_email'|trans }}</p>
    {% endif %}

    <br />

    <a href="#" class="registration-print">
        <i class="fa fa-print fa-2x"></i>
        {{ 'ss.registration.registration_email_sent.text.registration_code_has_been_sent_print'|trans }}
    </a>
    <a href="{{ path('ss_registration_registration_pdf', {'secondFactorId': secondFactorId}) }}" class="registration-pdf">
        <i class="fa fa-download fa-2x"></i>
        {{ 'ss.registration.registration_email_sent.text.registration_code_has_been_sent_pdf'|trans }}
    </a>
</div>

<hr>

{% if raLocations is defined %}
    <h3>{{ 'ss.registration.registration_email_sent.title.list_of_ra_locations'|trans }}</h3>

    {% if raLocations.elements is empty %}
        <p>{{ 'ss.registration.registration_email_sent.text.no_ra_locations_for_your_institution'|trans }}</p>
    {% else %}
        <ul class="list-ras">
            {% for raLocation in raLocations.elements %}
                <li>
                    <address>
                        <strong>{{ raLocation.name }}</strong><br>
                        {{ raLocation.location }}<br>
                        {{ raLocation.contactInformation }}
                    </address>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <h3>{{ 'ss.registration.registration_email_sent.title.list_of_ras'|trans }}</h3>

    {% if ras.elements is empty %}
        <p>{{ 'ss.registration.registration_email_sent.text.no_ras_for_your_institution'|trans }}</p>
    {% else %}
        <ul class="list-ras">
            {% for ra in ras.elements %}
                <li>
                    <address>
                        <strong>{{ ra.commonName }}</strong><br>
                        {{ ra.location }}<br>
                        {{ ra.contactInformation }}
                    </address>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
