<div class="col-xs-12 col-md-4">
    <div class="thumbnail second-factor-selector">
        <img src="/images/second-factor/{{ type }}.png"
             alt="{{ ('ss.registration.selector.'~type~'.alt')|trans }}">
        <h3>{{ ('ss.registration.selector.'~type~'.title')|trans }}</h3>
        <p class="ranking">
            {% for i in 1 .. security %}
            <i class="fa fa-lock fa-lg text-warning"></i>
            {% endfor %}
            {% for i in security+1 .. 4 %}
            <i class="fa fa-unlock-alt fa-lg text-extra-muted"></i>
            {% endfor %}
        </p>
        <hr>
        <p>
            {{
                ('ss.registration.selector.'~type~'.description')|trans(
                    {
                        '%tiqr_android_link_start%': '<a href="'~tiqrAppAndroidUrl~'">',
                        '%tiqr_android_link_end%': '</a>',
                        '%tiqr_ios_link_start%': '<a href="'~tiqrAppIosUrl~'">',
                        '%tiqr_ios_link_end%': '</a>',
                    }
                )|raw
            }}
        </p>
        <p>
            <a href="{{ url }}" class="btn btn-primary">
                {{ ('ss.registration.selector.'~type~'.button.use')|trans }}
            </a>
        </p>
    </div>
</div>
