{% extends "base.html.twig" %}
{% import _self as macro %}

{% block page_title %}{{ 'ss.second_factor.remote_vet.title'|trans }}{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'ss.second_factor.remote_vet.text.are_you_sure'|trans }}</p>

    {{ form(form) }}

    <form action="{{ url('ss_second_factor_remote_vetting_types', {'secondFactorId': secondFactor.id}) }}" method="get">
        <button class="btn btn-danger">Back</button>
    </form>
{% endblock %}
