{% set current_route = app.request.attributes.get( '_route' ) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>{% block title %}{{ 'app.name'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('global') }}
    {% endblock %}
</head>
<body>


{% block flashes %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        <div class="row-fluid">
            <div id="flash" class="span12">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            {{ message | trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock flashes %}

<div class="container">
    {% block head_bottom %}
        <base href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">
    {% endblock head_bottom %}

    {% block header %}
    {% endblock header %}

    {% block page_header %}
        <div class="page-header clearfix">
            <img src="/images/header-logo.png" class="pull-right logo" alt="OpenConext Stepup">
            <h1>{{ 'app.name'|trans }}</h1>
        </div>
        {% if app.user %}
            <div class="clearfix page-header-user">
                <form method="post" action="{{ logout_url('saml_based') }}" class="pull-right">
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-sign-out"></i>
                        {{ 'button.logout'|trans }}
                    </button>
                </form>
                {% set locale_switcher = stepup_locale_switcher(app.request.locale, 'ss_switch_locale', {'return-url': app.request.uri}) %}
                {{ form_start(locale_switcher, { attr: { class: 'form-inline' }}) }}
                {{ form_widget(locale_switcher.locale) }}
                {{ form_widget(locale_switcher.switch) }}
                {{ form_end(locale_switcher) }}
            </div>
            <hr>
        {% endif %}
    {% endblock page_header %}

    {% set notice %}
        {% include 'notice.html.twig' ignore missing %}
    {% endset %}

    {% if notice | spaceless is not empty and not (app.request.cookies.has('SELFSERVICE_NOTICE_DISMISSED')) %}
    <div class="row-fluid">
        <div id="notice" class="span12">
            <div class="alert alert-notice alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" onclick="document.cookie = 'SELFSERVICE_NOTICE_DISMISSED; expires=0; path=/';">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    {{ notice }}
            </div>
        </div>
    </div>
    {% endif %}


    <div class="main-content">
        {% block content_row %}
            {% block content %}
            {% endblock content %}
        {% endblock content_row %}
    </div>

    {% block footer %}
        <div class="row-fluid">
            <div class="span8 offset2">
                <hr>
                <ul class="nav nav-pills">
                    <li><a href="{{ path("ss_entry_point") }}">Home</a></li>
                    <li><a href="{{ global_view_parameters.supportUrl }}" target="_blank">{{ 'ss.support_url_text'|trans }}</a></li>
                </ul>
            </div>
        </div>
    {% endblock footer %}

    {% block foot_script %}

    {% endblock foot_script %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</div>
</body>
</html>
