{% set current_route = app.request.attributes.get( '_route' ) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}{{ 'app.name'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('global') }}
    {% endblock %}
</head>
<body>

{% block flashes %}
    {#
    The check is needed to prevent starting the session when looking for "flash messages":
    https://symfony.com/doc/current/session.html#avoid-starting-sessions-for-anonymous-users

    TIP: With FOSHttpCache you can also adapt this to make it cache safe:
    https://foshttpcachebundle.readthedocs.io/en/latest/features/helpers/flash-message.html
    #}
    {% if app.request.hasPreviousSession %}
        {% set flash_messages = app.flashes %}
        {% if flash_messages|length > 0 %}
        <div class="row-fluid">
                <div id="flash" class="span12">
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                {{ message | trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock flashes %}

<div class="container">
    {% block head_bottom %}
        <base href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">
    {% endblock head_bottom %}

    {% block header %}
    {% endblock header %}

    {% block page_header %}
        <div class="page-header clearfix">
            <img src="{{ asset('build/images/header-logo.png') }}" class="pull-right logo" alt="OpenConext Stepup">
            <h1>{{ 'app.name'|trans }}</h1>
        </div>
        {% if app.user %}
            <div class="clearfix page-header-user">
                <form method="post" action="{{ logout_url('saml_based') }}" class="pull-right">
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-sign-out"></i>
                        {{ 'button.logout'|trans }}
                    </button>
                </form>
                {% set locale_switcher = stepup_locale_switcher(app.request.locale, 'ss_switch_locale', {'return-url': app.request.uri}) %}
                {{ form_start(locale_switcher, { attr: { class: 'form-inline' }}) }}
                {{ form_widget(locale_switcher.locale) }}
                {{ form_widget(locale_switcher.switch) }}
                {{ form_end(locale_switcher) }}
            </div>
            <hr>
        {% endif %}
    {% endblock page_header %}

    <div class="main-content">
        {% block content_row %}
            {% block content %}
            {% endblock content %}
        {% endblock content_row %}
    </div>

    {% block footer %}
        <div class="row-fluid">
            <div class="span8 offset2">
                <hr>
                <ul class="nav nav-pills">
                    <li><a href="{{ path("ss_entry_point") }}">Home</a></li>
                    <li><a href="{{ global_view_parameters.supportUrl }}" target="_blank">{{ 'ss.support_url_text'|trans }}</a></li>
                </ul>
            </div>
        </div>
    {% endblock footer %}

    {% block foot_script %}

    {% endblock foot_script %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</div>
</body>
</html>
