{% extends "base.html.twig" %}

{% block page_title %}{{ 'ss.registration.yubikey.title.enter_challenge'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% if verifyEmail %}
        {% include 'registration/partial/progress_bar.html.twig' with {'progress': 25, 'step': 2, verifyEmail: true} only %}
    {% else %}
        {% include 'registration/partial/progress_bar.html.twig' with {'progress': 35, 'step': 2, verifyEmail: false} only %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <ul>
        <li>{{ 'ss.registration.yubikey.text.connect_yubikey_to_pc'|trans }}</li>
        <li>{{ 'ss.registration.yubikey.text.ensure_form_field_focus'|trans }}</li>
        <li>{{ 'ss.registration.yubikey.text.press_once_form_auto_submitted'|trans }}</li>
    </ul>

    <hr>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.otp, { value: '' }) }}

    {{ form_end(form) }}

{% endblock %}
