{% extends "::base.html.twig" %}

{% block page_title %}{{ 'ss.registration.sms.send_challenge.title.page'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupSelfServiceSelfServiceBundle::Registration/partial/progressBar.html.twig' with {'progress': 25} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'ss.registration.sms.text.help_user_enter_challenge'|trans }}</p>

    <ol>
        <li>{{ 'ss.registration.sms.text.ensure_phone_has_signal'|trans }}</li>
        <li>{{ 'ss.registration.sms.text.enter_phone_number_below'|trans }}</li>
        <li>{{ 'ss.registration.sms.text.after_pressing_proceed'|trans }}</li>
    </ol>

    <hr>

    {{ form(form) }}

{% endblock %}
