{% extends "::base.html.twig" %}

{% block page_title %}{{ 'ss.registration.sms.send_challenge.title.page'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupSelfServiceSelfServiceBundle:Registration/partial:progressBar.html.twig' with {'progress': 25, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <ul>
        <li>{{ 'ss.registration.sms.text.ensure_phone_has_signal'|trans }}</li>
        <li>{{ 'ss.registration.sms.text.enter_phone_number_below'|trans }}</li>
    </ul>

    <hr>

    {% if otpRequestsRemaining != maximumOtpRequests %}
        <div class="alert alert-{% if otpRequestsRemaining == 0 %}error{% elseif otpRequestsRemaining == 1 %}warning{% else %}info{% endif %}">
            {{ 'ss.registration.sms.text.otp_requests_remaining'|trans({ '%count%': otpRequestsRemaining }) }}
        </div>
    {% endif %}

    {{ form_start(form)|replace({'form-horizontal': ''})|raw }}
    <div class="row">
        {{ form_errors(form) }}
        <div class="col-xs-8">
            {{ form_widget(form.countryCode) }}
        </div>
        <div class="col-xs-4">
            {{ form_widget(form.subscriber) }}
        </div>
    </div>
    <div class="row offset-top">
        <div class="col-xs-12">
            {{ form_row(form.sendChallenge) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}
