{% extends "base.html.twig" %}

{% block page_title %}{{ 'ss.registration.sms.send_challenge.title.page'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% if verifyEmail %}
        {% include 'SurfnetStepupSelfServiceSelfServiceBundle:registration/partial:progress_bar.html.twig' with {'progress': 25, 'step': 2, verifyEmail: true} only %}
    {% else %}
        {% include 'SurfnetStepupSelfServiceSelfServiceBundle:registration/partial:progress_bar.html.twig' with {'progress': 35, 'step': 2, verifyEmail: false} only %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <ul>
        <li>{{ 'ss.registration.sms.text.ensure_phone_has_signal'|trans }}</li>
        <li>{{ 'ss.registration.sms.text.enter_phone_number_below'|trans }}</li>
    </ul>

    <hr>

    {% if otpRequestsRemaining != maximumOtpRequests %}
        <div class="alert alert-{% if otpRequestsRemaining == 0 %}error{% elseif otpRequestsRemaining == 1 %}warning{% else %}info{% endif %}">
            {{ 'ss.registration.sms.text.otp_requests_remaining'|trans({ '%count%': otpRequestsRemaining }) }}
        </div>
    {% endif %}

    {{ form_start(form)|replace({'form-horizontal': ''})|raw }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-8">
            {% if form.country.vars.errors|length %}
                <div class="alert alert-danger">{{ form_errors(form.country) }}</div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if form.subscriber.vars.errors|length %}
                <div class="alert alert-danger">{{ form_errors(form.subscriber) }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form_widget(form.country) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(form.subscriber, {'required': false}) }}
        </div>
    </div>
    <div class="row offset-top">
        <div class="col-md-12">
            {{ form_row(form.sendChallenge) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}
