{% extends "::base.html.twig" %}
{% import _self as macro %}

{% block page_title %}{{ 'ss.second_factor.list.title'|trans }}{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    {% if unverifiedSecondFactors.elements is empty and verifiedSecondFactors.elements is empty and vettedSecondFactors.elements is empty %}
        <p>{{ 'ss.second_factor.list.text.no_second_factors'|trans }}</p>
        <a href="{{ path('ss_registration_display_types') }}"
           class="btn btn-primary">
            {{ 'ss.second_factor.list.button.register_second_factor'|trans }}
        </a>
    {% else %}
        {{ macro.secondFactorTable(vettedSecondFactors, 'ss.second_factor.list.text.vetted', 'vetted', email) }}
        {{ macro.secondFactorTable(verifiedSecondFactors, 'ss.second_factor.list.text.verified', 'verified', email) }}
        {{ macro.secondFactorTable(unverifiedSecondFactors, 'ss.second_factor.list.text.unverified', 'unverified', email) }}
    {% endif %}

{% endblock %}

{% macro secondFactorTable(secondFactorCollection, text, state, email) %}
    {% if secondFactorCollection.elements is not empty %}
        <p>{{ text|trans({'%email%': email}) }}</p>
        <table class="table-striped">
            <thead>
            <tr>
                <th scope="col">{{ 'ss.second_factor_list.header.type'|trans }}</th>
                <th scope="col">{{ 'ss.second_factor_list.header.second_factor_identifier'|trans }}</th>
                <th scope="col">{# Action button #}</th>
            </tr>
            </thead>
            <tbody>
            {% for secondFactor in secondFactorCollection.elements %}
                <tr>
                    <td>{{ ('ss.second_factor.type.'~secondFactor.type)|trans }}</td>
                    <td>{{ secondFactor.secondFactorIdentifier }}</td>
                    <td>
                        <a class="btn btn-mini btn-warning"
                           href="{{ path('ss_second_factor_revoke', {'state': state, 'secondFactorId': secondFactor.id}) }}">
                            {{ 'ss.second_factor.revoke.button.revoke'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}
