{% extends "::base.html.twig" %}

{% block page_title %}{{ 'surfnet_stepup_self_service.second_factor.list.title'|trans }}{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <h3>{{ 'surfnet_stepup_self_service.second_factor.list.unverified.title'|trans }}</h3>

    <table class="table-striped">
        <thead>
            <tr>
                <th>{{ 'ss.second_factor_list.header.type'|trans }}</th>
                <th>{{ 'ss.second_factor_list.header.second_factor_identifier'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for unverifiedSecondFactor in unverifiedSecondFactors %}
                <tr>
                    <td>{{ 'ss.second_factor.type.'~unverifiedSecondFactor.type|trans }}</td>
                    <td>{{ unverifiedSecondFactor.secondFactorIdentifier }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
